{% extends "base.html" %}
{% block content %}
<h1>Уборка от {{cleaning.date}}</h1>
<br>
<p><b>Компания:</b> {{cleaning.cleaner.uk}}</p>
<p><b>Дворник:</b> {{cleaning.cleaner.name}}</p>
<p><b>Номер телефона:</b> {{cleaning.cleaner.phone}}</p>
<p><b>Адрес:</b> {{cleaning.cleaner.address}}</p>

{% if photos %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 60%; margin:auto; margin-bottom: 30px;">
    <ol class="carousel-indicators">
        {% for ph_id in photos %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ph_id}}" {% if ph_id== 0 %} class="active" {%
            endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for ph_id in photos %}
        <div class="carousel-item {% if ph_id == 0 %} active {% endif %}">
            <img style="margin: auto;" class="d-block w-100" src="/cleaners/{{photos[ph_id]}}">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% else %}
<b>Фото пока что нет</b>
<br>
{% endif %}
<br>
<a href="/admin/view-user/{{uid}}">Назад</a>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
{% endblock %}

